.sessao_cabecalho{
     width: 1024px;
     height: 260px;
     background-color: #f6f6f6;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 10px;
     flex-direction: column;
     margin-bottom: 10px;
}