.img_container{
     max-width: 300px;
     max-height: 200px;
     width: auto;
     height: auto;
     overflow: hidden;
     margin-top: 15px;
     border: 1px solid #fff;
     border-radius: 0.25rem;
}