.produto{
     width: 350px;
     height: 300px;
     display: flex;
     align-items: center;
     margin-top: 60px;
     flex-direction: column;
     border: 2px solid #0e0e0e;
     border-radius: 0.5rem;
     background-color: white;
}